/* Cards section */

.cards{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    color: #000000;
    margin: 2em 2em;
    padding: 0 1em 0 3em;
    border: 3px, black, dashed;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: transform 0.3s;
    animation: card-gradient 2s infinite alternate, card-glow 1s infinite alternate;
}

.no-animation {
    background-color: rgb(110, 134, 149);
    animation: none;
}

@media screen and (max-width: 700px) {
    .card{
        flex-direction: column;
        padding: 0;
    }

    .card-info{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-title{
        margin: 1.2em 0 0.7em 0;
    }

    .card-info button{
        margin: 1.5em 0;
    }

    .card .card-img{
        margin: 1em 2em;
    }
}


@keyframes card-gradient{
    0% {background-image: radial-gradient( #fff75c, #feca8a);}
    25% {background-image: radial-gradient( #fbf360, #feca8a);}
    50% {background-image: radial-gradient( #fbf46d, #feca8a);}
    75% {background-image: radial-gradient( #fbf360, #feca8a);}
    100% {background-image: radial-gradient( #fff75c, #feca8a);}
}

@keyframes card-glow{
    from {
        box-shadow: 0 0 -10px 10px #fcf68a
    } to{
        box-shadow: 0 0 10px 10px #fcf68a;
    }
}

.card:hover{
    box-shadow: 10px 10px 10px rgb(175, 170, 99);
    transform: scale(1.05);
    animation: card-gradient 2s infinite alternate;
}
.no-animation:hover {
    animation: none;
    background-color: #7896a8;
    box-shadow: 10px 10px 10px rgb(99, 142, 175);
}

.card-title{
    font-family: "Protest Guerrilla", sans-serif;
}

.card-description{
    width: 150px;
    font-family: "Inria Sans", sans-serif;
}

.card-img{
    margin: 1em 2em;
    max-width: 200px;
    height: auto;
}

.card-btn{
    font-size: 1em;
    font-weight: bold;
    background-color: #4ed6a2;
    border: 1px #2d5a49 solid;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em 1em;
    margin-top: 2em;
}

.card-btn:hover{
    background-color: #1fd690;
    cursor:pointer
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
  }
  
/* Modal Content */
.modal-content {
    flex-direction: column;
    display: flex;
    background-color: #fefefe;
    padding: 20px;
    border: 2px solid #000000;
    width: 80%;
}

.modal-content-dark{
    background-color: #484c4a;
    color: white;
}

#modal-description{
    margin-top: 10px;
    max-width: 95%;
}

/* The Close Button */
#close {
    display: inline;
    color: #787878;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}