*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: #feffcf;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2359b1bb' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Header */
header{
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
}

.page-title{
    align-items: center;

    display: flex;
    font-size: 2em;
    padding: 14px 16px;
    background-color: #333;
    font-family: "Open Sans", sans-serif;
    color: white;
}

.page-icon{
    padding-left: 10px;
}

/* Navigation */

.navbar{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
}

.navbar ul{
    display: flex;
    flex-direction: row;
}

.navbar li {
    list-style-type: none;
}

.nav-element {
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.30em;
    transition: background-color 0.3s;
}

.nav-element:hover{
    background-color: #3f3e3e;
}

/* Dropdown */
.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    z-index: -1;
    right: 0;
    display: none;
    position: absolute;
    background-color: #504d4d;
    min-width: 160px;
}

.dropdown-element {
    transition: background-color 0.3s;
    border-bottom: 0.5px rgb(36, 36, 36) solid;
    color: white;
    padding: 1em 1.4em;
    display: block;
}

.dropdown-element:hover {
    background-color: #646464;
}

.dropdown:hover .dropdown-content{
    display: block;
    animation: dropdown-slide 0.5s;
}

@keyframes dropdown-slide{
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0);}
}

/* Hamburger */

#hamburger{
    height: 100%;
    background-color: #333;
    display: none;
    color: white;
    text-align: center;
    padding: 15px 25px;
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    border: none;
}

#hamburger:hover{
    background-color: #3f3e3e;
}

.hamburger .dropdown-content{
    width: 100vw;
}

.hamburger .dropdown-content a{
    font-size: 1.5em;
    padding: 0.4em 1em;
}

.hamburger-element{
    text-align: center;
    transition: background-color 0.3s;
    border-top: 0.5px #333 solid;
    color: white;
    padding: 1em 1.4em;
    display: block;
}

.hamburger-element:hover{
    background-color: #646464;
}

.hamburger-dropdown-content{
    background-color: #55545a;
    display: none;
}

@media screen and (max-width: 700px) {
    #hamburger {
      display: block;
    }
    .nav-element{
        display: none;
    }
  }

/* Page content */

.content-with-side{
    display: flex;
    flex-direction: row-reverse;
}

main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-1{
    text-align: center;
    font-size: 3em;
    margin: 0.5em 0 0 0;
}

.title-2{
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0 0 0;
}

.more-info{
    background: #b3a4a43b;
    font-size: 1.3em;
    padding: 0.4em;
}

.box-1{
    width: 70vw;
    margin: 2em 1em 0em 1em;
    padding: 20px 20px;
    background-color: #2c2b2b;
    color: white;
}

.image-box{
    margin: 5em 0;
    height: auto;
}
@media screen and (max-width: 1000px) {
    .title-1{
        font-size: 2em;
    }
    .title-2{
        font-size: 1.5em;
    }
    .text-box-1{
        font-size: 0.8em;
    }
    .image-box{
        width: 150px;

    }
}

/* Side-bar content */

.side-bar{
    align-items: center;
    border-width: 5px;
    background-color: #524e4ea3;
    flex-direction: column;
    display: flex;
}

.side-title{
    width: 100%;
    padding: 1em;
    text-align: center;
    color: white;
}

.side-element{
    text-align: center;
    padding: 1em;
    color: white;
}

.side-element:hover{
    background-color: #424141a3
}

/* footer */

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 1em 0;
    bottom: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
}